body {
  padding: 0;
  margin: 0;
  background-color: black;
  width: auto;
  height: auto;
}

.calc {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  justify-content: center;
  align-content: center;
  height: 750px;
  width: 500px;
  border: 2px solid silver;
  border-radius: 8%;
  position: relative;
  margin-left: 25%;
  margin-top: 3%;
  margin-bottom: 5%;
}
.calc__sign, .calc__number, .calc__operator, .calc__zero, .calc__output {
  cursor: pointer;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: black;
  color: silver;
  text-align: center;
}
.calc__output {
  grid-column: 1/-1;
  grid-row: span 2;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  padding: 10px;
  font-size: 50px;
  margin-right: 10px;
}
.calc__sign, .calc__number, .calc__operator {
  border-radius: 50%;
  margin-right: 0.25em;
  margin-left: 0.25em;
  margin-bottom: 0.2em;
  height: 85px;
  width: 85px;
  padding: 5px;
}
.calc__sign {
  background: silver;
  color: black;
}
.calc__number {
  background: #161616;
}
.calc__operator {
  background: #fcc602;
  color: black;
}
.calc__zero {
  grid-column: span 2;
  border-radius: 45%;
  height: 90px;
  width: 180px;
}
.calc__sign :hover, .calc__number :hover, .calc__operator :hover, .calc__zero :hover, .calc__output :hover {
  background-color: #ff2828;
}