

body {

    padding: 0;
    margin: 0;
    background-color: black;
    width: auto;
    height: auto;
    
    
}    
    
@media (max-width: 660vh)

{
    .calc {

        display: grid;
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: minmax(100px, auto) repeat(5, 80px);
        justify-content: center;
        align-content: center;
        height:600px;
        width:400px;
        // height: 80%;
        // width: 80%;
        border: 2px solid silver;
        border-radius: 6%;
        position: absolute;
        margin-left: 40%;
        margin-top: 5%;
        margin-bottom: 2%;

    

    &__sign, &__number, &__operator
    {
        font-size: 20px;
        border-radius: 50%;
        margin-right: .15em;
        margin-left: .15em;
        margin-bottom: .15em;
        height: 60px;
        width: 60px;
        padding: 5px;
        border: silver;

    }   

    &__zero {
        grid-column: span 2;
        border-radius: 45%;
        height: 60px;
        width: 130px;
        border: silver;


    }

    &__output {
        grid-column: 1 / -1;
        grid-row: span 2;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-self: flex-end;
        justify-content: space-evenly;
        padding: 8px;
        font-size: 25px;
        margin-right: 2px;
        margin-bottom: 5px;
        
        
        
    }   

    }
}   

@media (min-width: 660vh)

{

.calc {

    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    justify-content: center;
    align-content: center;
    // height:700px;
    // width:450px;
    height:95%;
    width:30%;
    border: 2px solid silver;
    border-radius: 8%;
    position: absolute;
    margin-left: 40%;
    margin-top: 1.4%;
    margin-bottom: 4.2%;
  


    &__sign, &__number, &__operator
    {
        font-size: 20px;
        border-radius: 50%;
        margin-right: .25em;
        margin-left: .25em;
        margin-bottom: .20em;
        height: 80px;
        width: 80px;
        padding: 5px;
        border: silver;

    }   


    &__zero {
        grid-column: span 2;
        border-radius: 45%;
        height: 80px;
        width: 160px;
        border: silver;


    }  

    &__output {
        grid-column: 1 / -1;
        grid-row: span 2;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-self: flex-end;
        justify-content: space-evenly;
        padding: 8px;
        font-size: 33px;
        margin-right: 2px;
        margin-bottom: 5px;
        
        
        
    }   

}


}
     
    .calc
    {

    &__sign, &__number, &__operator, &__zero, &__output
    {
        cursor: pointer;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        // border: 1px solid blue;
        background: black;
        color: silver;
        text-align: center;
        // outline: none;
    }
   
    
    &__sign {
        background: silver;
        color: black;
    }

    &__number {
        background: rgb(22, 22, 22);
    }

    &__operator {
        background: #fcc602 ;
        color: blue    ;

    }

   

    &__sign, &__number, &__operator, &__zero, &__output
    {
        :hover {
            background-color: silver;
        }
    }    


 }

