body {
  padding: 0;
  margin: 0;
  background-color: black;
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  .calc {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    justify-content: center;
    align-content: center;
    height: 600px;
    width: 350px;
    border: 2px solid silver;
    border-radius: 8%;
    position: absolute;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .calc__sign, .calc__number, .calc__operator {
    font-size: 20px;
    border-radius: 50%;
    margin-right: 0.15em;
    margin-left: 0.15em;
    margin-bottom: 0.15em;
    height: 60px;
    width: 60px;
    padding: 2px;
  }
  .calc__zero {
    grid-column: span 2;
    border-radius: 45%;
    height: 60px;
    width: 130px;
  }
}
@media (min-width: 768px) {
  .calc {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    justify-content: center;
    align-content: center;
    height: 700px;
    width: 450px;
    border: 2px solid silver;
    border-radius: 8%;
    position: absolute;
    margin-left: 25%;
    margin-top: 1.4%;
    margin-bottom: 4.2%;
  }
  .calc__sign, .calc__number, .calc__operator {
    font-size: 25px;
    border-radius: 50%;
    margin-right: 0.25em;
    margin-left: 0.25em;
    margin-bottom: 0.2em;
    height: 80px;
    width: 80px;
    padding: 4px;
  }
  .calc__zero {
    grid-column: span 2;
    border-radius: 45%;
    height: 80px;
    width: 160px;
  }
}
.calc__sign, .calc__number, .calc__operator, .calc__zero, .calc__output {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: black;
  color: silver;
  text-align: center;
}
.calc__output {
  grid-column: 1/-1;
  grid-row: span 2;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  padding: 10px;
  font-size: 40px;
  margin-right: 10px;
}
.calc__sign {
  background: silver;
  color: black;
}
.calc__number {
  background: #161616;
}
.calc__operator {
  background: #fcc602;
  color: blue;
}
.calc__sign :hover, .calc__number :hover, .calc__operator :hover, .calc__zero :hover, .calc__output :hover {
  background-color: silver;
}